
A. Rueda Desenvolvimento de Sistemas Ltda.
 
    <% form_for :dump, :url=>{:controller=>"clientes", :action=>"reports"}, :html => { :multipart => true } do |f| -%>
 <table>
	<tr>
	  <td colspan='2'>
		<%= submit_tag 'Clientes'-%>
	  </td>
	</tr>
 </table>
 <% end -%>

<br />